@media print {
    .noprint{
        display: none !important;
    }

    img.wh{
        width: 120px !important;
        height: 120px !important;

    }

    .diqka{
        padding-left: 30% !important;
    }

    table.table{
        width: 1000px !important;
        height: auto !important;
    }

}